<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库查询</title>
</head>
<body>
    <div>
        <form action="/db/datainfo" method="post" id="Form">
            <label for="UID">UID:</label>
            <input type="input" name="UID" value="UID" id="UID">
            <label for="DataID">DataID:</label>
            <input type="input" name="DataID" value="DataID" id="DataID">
            <label for="Index2">Index2:</label>
            <input type="input" name="Index2" value="Index2" id="Index2">
            <input type="submit" value="确认">
        </form>
    </div>
</body>
</html>